@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  from {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  to {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.spinner {
  animation: rotate 2s linear infinite;
}

.spinnerPath {
  animation: dash 1.5s ease-in-out infinite;
}
